<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalhe da Loja</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <header text-center padding-top padding-bottom>
    <h3>{{store?.company}}</h3>
    <p>{{store?.phone}}</p>
    <p>{{store?.city}}/{{store?.state}}</p>
  </header>

  <div padding>
    <p>A ultima avaliação foi em XXXXX</p>
    <div text-center>
      <ion-icon name="star" color="primary"></ion-icon>
      <ion-icon name="star" color="primary"></ion-icon>
      <ion-icon name="star" color="primary"></ion-icon>
      <ion-icon name="star" color="primary"></ion-icon>
      <ion-icon name="star" color="secondary"></ion-icon>
    </div>

    <div text-center>
      <button ion-button full (click)="confirmStart()"> Começar avaliação</button>
    </div>
  </div>

</ion-content>