<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalhe da Loja</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <header text-center>
    <img src="{{store?.picture}}" alt="{{store?.company}}">
  </header>
  <h3>{{store?.company}}</h3>
  <p>{{store?.phone}}</p>
  <p>{{store?.city}}/{{store?.state}}</p>

  <p>A ultima avaliação foi em XXXXX</p>

<div text-center>
  <button ion-button > Começar avaliação</button>
</div>
  
</ion-content>
